.footerContainer {
  color: white;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex: 0 0 50px;
  margin-top: auto;
  z-index: -1;
}

.footerIcon {
  margin-right: 15px;
}

@media only screen and (max-width: 550px),
  only screen and (max-device-width: 550px) {
  .footerContainer {
    width: 100%;
  }
}
