.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  color: white;
  width: 625px;
  max-height: 100%;
  overflow: auto;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #302932;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 20px;
}

.tmbImg {
  height: 80px;
  margin-right: 5px;
  cursor: pointer;
}
.selectedImage {
  height: 250px;
}
.infoPart {
  color: orange;
  font-size: 20px;
  margin: 15px;
}
.infoPart span {
  color: white;
  font-size: 16px;
}
