@font-face {
  font-family: "CanavaGrotesk-Regular";
  src: url("./assets/fonts/Canava/CanavaGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CanavaGrotesk-Regular";
  background-color: black;
}

.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  background-size: 250%;
  background-position: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: attr(data-text);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

.searchContainer {
  text-align: center;
  margin-top: 100px;
  border-top: 4px solid rgb(54, 47, 47);
  padding-top: 25px;
}

.search {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 300px;
  padding: 8px 20px 10px 18px;
  border: 3px solid rgba(23, 197, 232, 1);
  -webkit-border-radius: 22px;
  border-radius: 22px;
  font-size: 17px;
  color: white;
  text-indent: 7px;
  -o-text-overflow: clip;
  text-overflow: clip;
  word-spacing: 4px;
  background: #260034;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 201ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 4ms;
  -moz-transition: all 201ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 4ms;
  -o-transition: all 201ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 4ms;
  transition: all 201ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 4ms;
  margin: 0 auto;
}
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}
