@font-face {
  font-family: "CanavaGrotesk-Regular";
  src: url("./assets/fonts/Canava/CanavaGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "Project Space";
  src: url("./assets/fonts/Space/Project_Space.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CanavaGrotesk-Regular";
  background-color: black;
}
