.bannerModalContainer {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 500px;
  border: 2px solid white;
  width: 500px;
  height: 350px;
  color: white;
  background-color: black;
  opacity: 0.8;
}
